<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_71d976e87494af3f28888fad50d79701 {
                    position: relative;
                    width: 100.0%;
                    height: 700.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_71d976e87494af3f28888fad50d79701" ></div>
        
</body>
<script>
    
    
            var map_71d976e87494af3f28888fad50d79701 = L.map(
                "map_71d976e87494af3f28888fad50d79701",
                {
                    center: [-33.018024405, 151.67025436625],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_6ab5e6d5b03d6ee5c20d8f7318c6c67c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_6ab5e6d5b03d6ee5c20d8f7318c6c67c.addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var marker_13f896dcfd7ea4d93bca3432211d3b5a = L.marker(
                [-33.01402088, 151.67272249],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_e9282b1a8a68858c89041e14032b970f = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_90d2b184b33ba0f505d2311438f06e57 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_f6f19219d4d613a11980493dc6cbb485 = $(`<div id="html_f6f19219d4d613a11980493dc6cbb485" style="width: 100.0%; height: 100.0%;">         <b>3 Dalton Close, Belmont North, NSW</b><br>         Type: House<br>         Price: $997,500.0<br>         Beds: 3.0 | Baths: 1.0         </div>`)[0];
                popup_90d2b184b33ba0f505d2311438f06e57.setContent(html_f6f19219d4d613a11980493dc6cbb485);
            
        

        marker_13f896dcfd7ea4d93bca3432211d3b5a.bindPopup(popup_90d2b184b33ba0f505d2311438f06e57)
        ;

        
    
    
            marker_13f896dcfd7ea4d93bca3432211d3b5a.bindTooltip(
                `<div>
                     3 Dalton Close, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_13f896dcfd7ea4d93bca3432211d3b5a.setIcon(icon_e9282b1a8a68858c89041e14032b970f);
            
    
            var marker_32932f800296520709df79e7e7ad7661 = L.marker(
                [-33.01183148, 151.67286749],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_9613b95ae03a457535238dd1d4c3d2f0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_aa42cbe4db279cdc21cd37be875c482f = L.popup({
  "maxWidth": 250,
});

        
            
                var html_e756a4517dd574937d18d7384cd09bdd = $(`<div id="html_e756a4517dd574937d18d7384cd09bdd" style="width: 100.0%; height: 100.0%;">         <b>25 Seacroft Close, Belmont North, NSW</b><br>         Type: House<br>         Price: $1,250,000.0<br>         Beds: 4.0 | Baths: 2.0         </div>`)[0];
                popup_aa42cbe4db279cdc21cd37be875c482f.setContent(html_e756a4517dd574937d18d7384cd09bdd);
            
        

        marker_32932f800296520709df79e7e7ad7661.bindPopup(popup_aa42cbe4db279cdc21cd37be875c482f)
        ;

        
    
    
            marker_32932f800296520709df79e7e7ad7661.bindTooltip(
                `<div>
                     25 Seacroft Close, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_32932f800296520709df79e7e7ad7661.setIcon(icon_9613b95ae03a457535238dd1d4c3d2f0);
            
    
            var marker_24f5aa897acbcb91f877a217eda5a163 = L.marker(
                [-33.01649474, 151.67157968],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_53d1a062a34e01988166c2d2d9f4bf81 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ea69ec4de11b4bae1fd07cfd26d0adcc = L.popup({
  "maxWidth": 250,
});

        
            
                var html_29ba2bf415ef4eb53deb4cc9a83f8db9 = $(`<div id="html_29ba2bf415ef4eb53deb4cc9a83f8db9" style="width: 100.0%; height: 100.0%;">         <b>67 Old Belmont Road, Belmont North, NSW</b><br>         Type: House<br>         Price: $890,000.0<br>         Beds: 3.0 | Baths: 1.0         </div>`)[0];
                popup_ea69ec4de11b4bae1fd07cfd26d0adcc.setContent(html_29ba2bf415ef4eb53deb4cc9a83f8db9);
            
        

        marker_24f5aa897acbcb91f877a217eda5a163.bindPopup(popup_ea69ec4de11b4bae1fd07cfd26d0adcc)
        ;

        
    
    
            marker_24f5aa897acbcb91f877a217eda5a163.bindTooltip(
                `<div>
                     67 Old Belmont Road, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_24f5aa897acbcb91f877a217eda5a163.setIcon(icon_53d1a062a34e01988166c2d2d9f4bf81);
            
    
            var marker_33ceabf5cf2c3b61e7d167c3c2b36634 = L.marker(
                [-33.01204354, 151.66851581],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_51f7d84451f09e58068e22aee7011bc0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_988544807719d0a07f3d243c36e87053 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_0a1a381bd61bd9000466db07989254a9 = $(`<div id="html_0a1a381bd61bd9000466db07989254a9" style="width: 100.0%; height: 100.0%;">         <b>17 Dulungra Avenue, Belmont North, NSW</b><br>         Type: House<br>         Price: $1,350,000.0<br>         Beds: 5.0 | Baths: 3.0         </div>`)[0];
                popup_988544807719d0a07f3d243c36e87053.setContent(html_0a1a381bd61bd9000466db07989254a9);
            
        

        marker_33ceabf5cf2c3b61e7d167c3c2b36634.bindPopup(popup_988544807719d0a07f3d243c36e87053)
        ;

        
    
    
            marker_33ceabf5cf2c3b61e7d167c3c2b36634.bindTooltip(
                `<div>
                     17 Dulungra Avenue, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_33ceabf5cf2c3b61e7d167c3c2b36634.setIcon(icon_51f7d84451f09e58068e22aee7011bc0);
            
    
            var marker_176c7819c28031c07f92514ed2196075 = L.marker(
                [-33.02006063, 151.6800542],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_247513143c8e16da83c796b0810c262b = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c1c61d08397a0a71be45fe6c62dce059 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_0758b335c6fb011007e57b23cb914619 = $(`<div id="html_0758b335c6fb011007e57b23cb914619" style="width: 100.0%; height: 100.0%;">         <b>5 Pinnaroo Close, Belmont North, NSW</b><br>         Type: House<br>         Price: $1,200,000.0<br>         Beds: 4.0 | Baths: 3.0         </div>`)[0];
                popup_c1c61d08397a0a71be45fe6c62dce059.setContent(html_0758b335c6fb011007e57b23cb914619);
            
        

        marker_176c7819c28031c07f92514ed2196075.bindPopup(popup_c1c61d08397a0a71be45fe6c62dce059)
        ;

        
    
    
            marker_176c7819c28031c07f92514ed2196075.bindTooltip(
                `<div>
                     5 Pinnaroo Close, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_176c7819c28031c07f92514ed2196075.setIcon(icon_247513143c8e16da83c796b0810c262b);
            
    
            var marker_6a4a71bcfb4360722052e8f7782d070a = L.marker(
                [-33.02289234, 151.66747673],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_12a261fb12c1e2f096648b9783fc646b = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1412125ae89a595de0ce3e39a7f73b68 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_06e06d8b27b798fd1c0ede0d804602ce = $(`<div id="html_06e06d8b27b798fd1c0ede0d804602ce" style="width: 100.0%; height: 100.0%;">         <b>Unit 2, 1 Vincent Street, Belmont North, NSW</b><br>         Type: Unit<br>         Price: $599,000.0<br>         Beds: 2.0 | Baths: 1.0         </div>`)[0];
                popup_1412125ae89a595de0ce3e39a7f73b68.setContent(html_06e06d8b27b798fd1c0ede0d804602ce);
            
        

        marker_6a4a71bcfb4360722052e8f7782d070a.bindPopup(popup_1412125ae89a595de0ce3e39a7f73b68)
        ;

        
    
    
            marker_6a4a71bcfb4360722052e8f7782d070a.bindTooltip(
                `<div>
                     Unit 2, 1 Vincent Street, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_6a4a71bcfb4360722052e8f7782d070a.setIcon(icon_12a261fb12c1e2f096648b9783fc646b);
            
    
            var marker_09407a62bc312a5f40468422cd7884ed = L.marker(
                [-33.02379398, 151.66499999],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_9df1d50bcc3bfdf6cf9e868b32ee787c = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_eb684036a5b7edf7c8b9e5085d08b2ee = L.popup({
  "maxWidth": 250,
});

        
            
                var html_6e548011d2370389d2e3c9dc6a538699 = $(`<div id="html_6e548011d2370389d2e3c9dc6a538699" style="width: 100.0%; height: 100.0%;">         <b>46 Patrick Street, Belmont North, NSW</b><br>         Type: House<br>         Price: $920,000.0<br>         Beds: 4.0 | Baths: 1.0         </div>`)[0];
                popup_eb684036a5b7edf7c8b9e5085d08b2ee.setContent(html_6e548011d2370389d2e3c9dc6a538699);
            
        

        marker_09407a62bc312a5f40468422cd7884ed.bindPopup(popup_eb684036a5b7edf7c8b9e5085d08b2ee)
        ;

        
    
    
            marker_09407a62bc312a5f40468422cd7884ed.bindTooltip(
                `<div>
                     46 Patrick Street, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_09407a62bc312a5f40468422cd7884ed.setIcon(icon_9df1d50bcc3bfdf6cf9e868b32ee787c);
            
    
            var marker_d14c5fd0e467bf63c46e68cef2a4540d = L.marker(
                [-33.02305765, 151.66381854],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_47108c68f641dd7bf1441738a2881479 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a7daea77ca238f4914c6cd4d7ee77741 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_4889b95f2d1e9e8a1d4afbabf634a566 = $(`<div id="html_4889b95f2d1e9e8a1d4afbabf634a566" style="width: 100.0%; height: 100.0%;">         <b>380-384 Pacific Highway, Belmont North, NSW</b><br>         Type: Unit<br>         Price: $1,800,000.0<br>         Beds: nan | Baths: nan         </div>`)[0];
                popup_a7daea77ca238f4914c6cd4d7ee77741.setContent(html_4889b95f2d1e9e8a1d4afbabf634a566);
            
        

        marker_d14c5fd0e467bf63c46e68cef2a4540d.bindPopup(popup_a7daea77ca238f4914c6cd4d7ee77741)
        ;

        
    
    
            marker_d14c5fd0e467bf63c46e68cef2a4540d.bindTooltip(
                `<div>
                     380-384 Pacific Highway, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_d14c5fd0e467bf63c46e68cef2a4540d.setIcon(icon_47108c68f641dd7bf1441738a2881479);
            
    
            map_71d976e87494af3f28888fad50d79701.fitBounds(
                [[-33.01402088, 151.67272249], [-33.01183148, 151.67286749], [-33.01649474, 151.67157968], [-33.01204354, 151.66851581], [-33.02006063, 151.6800542], [-33.02289234, 151.66747673], [-33.02379398, 151.66499999], [-33.02305765, 151.66381854]],
                {}
            );
        
    
            var marker_e0bda258596d3e68e7d5c33fea41a721 = L.marker(
                [-33.0336722, 151.6607356],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_9aaa70a7b9d573a7015e6ff0f4c193e0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "lightgray",
  "iconColor": "white",
  "icon": "shopping-cart",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a7b54b5eca807d34f5f96ff2333ad43c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dcea9b4af5af5e38de774684d91bc9c4 = $(`<div id="html_dcea9b4af5af5e38de774684d91bc9c4" style="width: 100.0%; height: 100.0%;">🛒 <b>Aldi</b><br>Grocery Store</div>`)[0];
                popup_a7b54b5eca807d34f5f96ff2333ad43c.setContent(html_dcea9b4af5af5e38de774684d91bc9c4);
            
        

        marker_e0bda258596d3e68e7d5c33fea41a721.bindPopup(popup_a7b54b5eca807d34f5f96ff2333ad43c)
        ;

        
    
    
                marker_e0bda258596d3e68e7d5c33fea41a721.setIcon(icon_9aaa70a7b9d573a7015e6ff0f4c193e0);
            
    
            var marker_e969b774d970437e59e7f20ed8f638d4 = L.marker(
                [-33.0133204, 151.6842967],
                {
}
            ).addTo(map_71d976e87494af3f28888fad50d79701);
        
    
            var icon_6ed162ed986e6f42eb36a0817ea242ef = L.AwesomeMarkers.icon(
                {
  "markerColor": "lightgray",
  "iconColor": "white",
  "icon": "shopping-cart",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5886b76436f09c3bf46e671f811d748e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_18ee81f72a8b7976e970895de7cea643 = $(`<div id="html_18ee81f72a8b7976e970895de7cea643" style="width: 100.0%; height: 100.0%;">🛒 <b>Coles</b><br>Grocery Store</div>`)[0];
                popup_5886b76436f09c3bf46e671f811d748e.setContent(html_18ee81f72a8b7976e970895de7cea643);
            
        

        marker_e969b774d970437e59e7f20ed8f638d4.bindPopup(popup_5886b76436f09c3bf46e671f811d748e)
        ;

        
    
    
                marker_e969b774d970437e59e7f20ed8f638d4.setIcon(icon_6ed162ed986e6f42eb36a0817ea242ef);
            
</script>
</html>