<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_84ddd69eef658e9f635dc93e8c232889 {
                    position: relative;
                    width: 100.0%;
                    height: 700.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_84ddd69eef658e9f635dc93e8c232889" ></div>
        
</body>
<script>
    
    
            var map_84ddd69eef658e9f635dc93e8c232889 = L.map(
                "map_84ddd69eef658e9f635dc93e8c232889",
                {
                    center: [-33.018024405, 151.67025436625],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 13,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_6594b340c27f406b98c1d210a603add6 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_6594b340c27f406b98c1d210a603add6.addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var marker_d45b40b5240fa29b01c8621a74ad79ce = L.marker(
                [-33.01402088, 151.67272249],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_497e94c1fadf6d7f1b40116d6d18e4c7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5378cc92f8a60652ddf4a37404f9454a = L.popup({
  "maxWidth": 250,
});

        
            
                var html_7d10f9f512546931913c15052b9ab03d = $(`<div id="html_7d10f9f512546931913c15052b9ab03d" style="width: 100.0%; height: 100.0%;">         <b>3 Dalton Close, Belmont North, NSW</b><br>         Type: House<br>         Price: $997,500.0<br>         Beds: 3.0 | Baths: 1.0         </div>`)[0];
                popup_5378cc92f8a60652ddf4a37404f9454a.setContent(html_7d10f9f512546931913c15052b9ab03d);
            
        

        marker_d45b40b5240fa29b01c8621a74ad79ce.bindPopup(popup_5378cc92f8a60652ddf4a37404f9454a)
        ;

        
    
    
            marker_d45b40b5240fa29b01c8621a74ad79ce.bindTooltip(
                `<div>
                     3 Dalton Close, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_d45b40b5240fa29b01c8621a74ad79ce.setIcon(icon_497e94c1fadf6d7f1b40116d6d18e4c7);
            
    
            var marker_1554410144005847bb811c641a7005c9 = L.marker(
                [-33.01183148, 151.67286749],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_2c9c23bf3c305b57cdf13957acfdb737 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_3fb7ab99436ec892a75ebe586d7013ea = L.popup({
  "maxWidth": 250,
});

        
            
                var html_8d0cf1188ad98889dcd8074bb0bc1fc3 = $(`<div id="html_8d0cf1188ad98889dcd8074bb0bc1fc3" style="width: 100.0%; height: 100.0%;">         <b>25 Seacroft Close, Belmont North, NSW</b><br>         Type: House<br>         Price: $1,250,000.0<br>         Beds: 4.0 | Baths: 2.0         </div>`)[0];
                popup_3fb7ab99436ec892a75ebe586d7013ea.setContent(html_8d0cf1188ad98889dcd8074bb0bc1fc3);
            
        

        marker_1554410144005847bb811c641a7005c9.bindPopup(popup_3fb7ab99436ec892a75ebe586d7013ea)
        ;

        
    
    
            marker_1554410144005847bb811c641a7005c9.bindTooltip(
                `<div>
                     25 Seacroft Close, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1554410144005847bb811c641a7005c9.setIcon(icon_2c9c23bf3c305b57cdf13957acfdb737);
            
    
            var marker_586ee36bb0cd547ac460c291f4898b89 = L.marker(
                [-33.01649474, 151.67157968],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_f7f847de1dfd917fa5b3f840fad38d01 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_70daf5d346cc7413ff2fd17865f2e3fa = L.popup({
  "maxWidth": 250,
});

        
            
                var html_8454a7bfa4daf1a15094d8a9d1c7af21 = $(`<div id="html_8454a7bfa4daf1a15094d8a9d1c7af21" style="width: 100.0%; height: 100.0%;">         <b>67 Old Belmont Road, Belmont North, NSW</b><br>         Type: House<br>         Price: $890,000.0<br>         Beds: 3.0 | Baths: 1.0         </div>`)[0];
                popup_70daf5d346cc7413ff2fd17865f2e3fa.setContent(html_8454a7bfa4daf1a15094d8a9d1c7af21);
            
        

        marker_586ee36bb0cd547ac460c291f4898b89.bindPopup(popup_70daf5d346cc7413ff2fd17865f2e3fa)
        ;

        
    
    
            marker_586ee36bb0cd547ac460c291f4898b89.bindTooltip(
                `<div>
                     67 Old Belmont Road, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_586ee36bb0cd547ac460c291f4898b89.setIcon(icon_f7f847de1dfd917fa5b3f840fad38d01);
            
    
            var marker_685e618d6d3964f72f56d992171c36ba = L.marker(
                [-33.01204354, 151.66851581],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_38a2e78db49bd2de7f4185586c2a09e8 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4b5d31c27638ae3eeff769ae13127714 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_de7149fa8a4b810ba8faf75d621a87e4 = $(`<div id="html_de7149fa8a4b810ba8faf75d621a87e4" style="width: 100.0%; height: 100.0%;">         <b>17 Dulungra Avenue, Belmont North, NSW</b><br>         Type: House<br>         Price: $1,350,000.0<br>         Beds: 5.0 | Baths: 3.0         </div>`)[0];
                popup_4b5d31c27638ae3eeff769ae13127714.setContent(html_de7149fa8a4b810ba8faf75d621a87e4);
            
        

        marker_685e618d6d3964f72f56d992171c36ba.bindPopup(popup_4b5d31c27638ae3eeff769ae13127714)
        ;

        
    
    
            marker_685e618d6d3964f72f56d992171c36ba.bindTooltip(
                `<div>
                     17 Dulungra Avenue, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_685e618d6d3964f72f56d992171c36ba.setIcon(icon_38a2e78db49bd2de7f4185586c2a09e8);
            
    
            var marker_ca5f162fad02fae8a6141f12f6d376b0 = L.marker(
                [-33.02006063, 151.6800542],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_f73bb5fe81463d5006d943494f153273 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_6ad081c50a9520cb72fe31a8a313918d = L.popup({
  "maxWidth": 250,
});

        
            
                var html_de6c415263a90343dca644475d02c3d1 = $(`<div id="html_de6c415263a90343dca644475d02c3d1" style="width: 100.0%; height: 100.0%;">         <b>5 Pinnaroo Close, Belmont North, NSW</b><br>         Type: House<br>         Price: $1,200,000.0<br>         Beds: 4.0 | Baths: 3.0         </div>`)[0];
                popup_6ad081c50a9520cb72fe31a8a313918d.setContent(html_de6c415263a90343dca644475d02c3d1);
            
        

        marker_ca5f162fad02fae8a6141f12f6d376b0.bindPopup(popup_6ad081c50a9520cb72fe31a8a313918d)
        ;

        
    
    
            marker_ca5f162fad02fae8a6141f12f6d376b0.bindTooltip(
                `<div>
                     5 Pinnaroo Close, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_ca5f162fad02fae8a6141f12f6d376b0.setIcon(icon_f73bb5fe81463d5006d943494f153273);
            
    
            var marker_13c00d63ed97199d2c97fe8b6a2fae22 = L.marker(
                [-33.02289234, 151.66747673],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_45930facec91f9fa17e3090bbf65d426 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_88b62dde77feddf5e252927da345100d = L.popup({
  "maxWidth": 250,
});

        
            
                var html_86b56f882a950eabbe4ce4898299fd5c = $(`<div id="html_86b56f882a950eabbe4ce4898299fd5c" style="width: 100.0%; height: 100.0%;">         <b>Unit 2, 1 Vincent Street, Belmont North, NSW</b><br>         Type: Unit<br>         Price: $599,000.0<br>         Beds: 2.0 | Baths: 1.0         </div>`)[0];
                popup_88b62dde77feddf5e252927da345100d.setContent(html_86b56f882a950eabbe4ce4898299fd5c);
            
        

        marker_13c00d63ed97199d2c97fe8b6a2fae22.bindPopup(popup_88b62dde77feddf5e252927da345100d)
        ;

        
    
    
            marker_13c00d63ed97199d2c97fe8b6a2fae22.bindTooltip(
                `<div>
                     Unit 2, 1 Vincent Street, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_13c00d63ed97199d2c97fe8b6a2fae22.setIcon(icon_45930facec91f9fa17e3090bbf65d426);
            
    
            var marker_adf233bd9c77b0403f2185face4b6c8f = L.marker(
                [-33.02379398, 151.66499999],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_c23e9b60bf1bb4f98376dd4341134a5d = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0e4350c775d8f43d3a788aa44b5ecff9 = L.popup({
  "maxWidth": 250,
});

        
            
                var html_d77b4ec698ed68d6ed8898bd7a135fa7 = $(`<div id="html_d77b4ec698ed68d6ed8898bd7a135fa7" style="width: 100.0%; height: 100.0%;">         <b>46 Patrick Street, Belmont North, NSW</b><br>         Type: House<br>         Price: $920,000.0<br>         Beds: 4.0 | Baths: 1.0         </div>`)[0];
                popup_0e4350c775d8f43d3a788aa44b5ecff9.setContent(html_d77b4ec698ed68d6ed8898bd7a135fa7);
            
        

        marker_adf233bd9c77b0403f2185face4b6c8f.bindPopup(popup_0e4350c775d8f43d3a788aa44b5ecff9)
        ;

        
    
    
            marker_adf233bd9c77b0403f2185face4b6c8f.bindTooltip(
                `<div>
                     46 Patrick Street, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_adf233bd9c77b0403f2185face4b6c8f.setIcon(icon_c23e9b60bf1bb4f98376dd4341134a5d);
            
    
            var marker_a1c35486d321fdc69419214ae8d1e7a5 = L.marker(
                [-33.02305765, 151.66381854],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_1d4dfc7d54ca58edc24b7e4e88e3fd50 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_7eab8cf3e2d953d13dab7cadf7bb2dee = L.popup({
  "maxWidth": 250,
});

        
            
                var html_77d019564546278536d37dd0b8fc3e1c = $(`<div id="html_77d019564546278536d37dd0b8fc3e1c" style="width: 100.0%; height: 100.0%;">         <b>380-384 Pacific Highway, Belmont North, NSW</b><br>         Type: Unit<br>         Price: $1,800,000.0<br>         Beds: nan | Baths: nan         </div>`)[0];
                popup_7eab8cf3e2d953d13dab7cadf7bb2dee.setContent(html_77d019564546278536d37dd0b8fc3e1c);
            
        

        marker_a1c35486d321fdc69419214ae8d1e7a5.bindPopup(popup_7eab8cf3e2d953d13dab7cadf7bb2dee)
        ;

        
    
    
            marker_a1c35486d321fdc69419214ae8d1e7a5.bindTooltip(
                `<div>
                     380-384 Pacific Highway, Belmont North, NSW
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a1c35486d321fdc69419214ae8d1e7a5.setIcon(icon_1d4dfc7d54ca58edc24b7e4e88e3fd50);
            
    
            map_84ddd69eef658e9f635dc93e8c232889.fitBounds(
                [[-33.01402088, 151.67272249], [-33.01183148, 151.67286749], [-33.01649474, 151.67157968], [-33.01204354, 151.66851581], [-33.02006063, 151.6800542], [-33.02289234, 151.66747673], [-33.02379398, 151.66499999], [-33.02305765, 151.66381854]],
                {}
            );
        
    
            var marker_982133df779da3dd04220781a777a34b = L.marker(
                [-33.0336722, 151.6607356],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_da4f07d66d99115ace541c43a74c2d46 = L.AwesomeMarkers.icon(
                {
  "markerColor": "lightgray",
  "iconColor": "white",
  "icon": "shopping-cart",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9a3127c46b6a293473f83ef3b6d0ff9c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_91aedd793eaa5021690d8f6aa5a45484 = $(`<div id="html_91aedd793eaa5021690d8f6aa5a45484" style="width: 100.0%; height: 100.0%;">🛒 <b>Aldi</b><br>Grocery Store</div>`)[0];
                popup_9a3127c46b6a293473f83ef3b6d0ff9c.setContent(html_91aedd793eaa5021690d8f6aa5a45484);
            
        

        marker_982133df779da3dd04220781a777a34b.bindPopup(popup_9a3127c46b6a293473f83ef3b6d0ff9c)
        ;

        
    
    
                marker_982133df779da3dd04220781a777a34b.setIcon(icon_da4f07d66d99115ace541c43a74c2d46);
            
    
            var marker_a91025c4c820cb6e17c6dd788955dbaa = L.marker(
                [-33.0133204, 151.6842967],
                {
}
            ).addTo(map_84ddd69eef658e9f635dc93e8c232889);
        
    
            var icon_0f3e90d5e53b89645a9d8ce9c938b65d = L.AwesomeMarkers.icon(
                {
  "markerColor": "lightgray",
  "iconColor": "white",
  "icon": "shopping-cart",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_34ad5a3197441e0df8b73f33a131ceee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_47eb7eeebc6fbe915abc932a6b5b15f4 = $(`<div id="html_47eb7eeebc6fbe915abc932a6b5b15f4" style="width: 100.0%; height: 100.0%;">🛒 <b>Coles</b><br>Grocery Store</div>`)[0];
                popup_34ad5a3197441e0df8b73f33a131ceee.setContent(html_47eb7eeebc6fbe915abc932a6b5b15f4);
            
        

        marker_a91025c4c820cb6e17c6dd788955dbaa.bindPopup(popup_34ad5a3197441e0df8b73f33a131ceee)
        ;

        
    
    
                marker_a91025c4c820cb6e17c6dd788955dbaa.setIcon(icon_0f3e90d5e53b89645a9d8ce9c938b65d);
            
</script>
</html>